<html>
    <head>
        <title>jaesteve's blog</title>
     <head>
<body>
<div>
    <h1><a href="/">jaesteve's blog</a></h1>
</div>

<div>
    <p>published: 10.06.2014, 12:14</p>
    <h2><a href="">My first post</a></h2>
    <p>lorem adjklajdla;fjlajelajsdla;fjklasdjflkajdslafjdskl;fjadsklfaklsdjfkladjsflajfdk;lajf</p>
</div>
<div>
    <p>published: 10.06.2014, 12:14</p>
    <h2><a href="">My first post</a></h2>
    <p>lorem adjklajdla;fjlajelajsdla;fjklasdjflkajdslafjdskl;fjadsklfaklsdjfkladjsflajfdk;lajf</p>
</div>
</body>
</html>
